
img {
    max-width: 200px;
}

/* Base card definition */
.card {
    display: inline-block;
    border-style: dashed;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    border-width: thick;
    box-shadow: 5px 10px #888888;
}

/* Add on styles for card */
.card__good {
    border-color: blue;
    background-color: aliceblue;
}

.card__good--extra {
    border-color: darkred;
    background-color: gold;
}

.card__evil {
    border-color: black;
    background-color: darkslategrey;
}

.card__evil--faded {
    border-color: deeppink;
    background-color: lightgrey;
}


/* Happy coding! */